<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Setting key="app.installation.password" value="894C209E-985C-448C-A8C0-4ADBD0FC12D3" />
  <Setting key="app.installed" value="True" />
  <Setting key="app.name" value="Roham" />
  <Setting key="database.provider" value="SqlServer" />
  <Setting key="database.connection" value="Data Source=localhost;Initial Catalog=Roham;Integrated Security=True;Pooling=False" />
  <Setting key="cache.provider" value="Redis" />
  <Setting key="cache.connection" value="localhost:6379,ssl=False" />
  <Setting key="smtp.enabled" value="True" />
  <Setting key="smtp.host" value="smtp.gmail.com" />
  <Setting key="smtp.port" value="587" />
  <Setting key="smtp.ssl" value="True" />
  <Setting key="smtp.username" value="hojjat.khodabakhsh@gmail.com" />
  <Setting key="smtp.password" value="man114114114$" />
  <Setting key="smtp.domain" value="" />
  <Setting key="smtp.from" value="no-reply@roham.com" />
</Settings>