@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot');
  src: url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff') format('woff'), url('/fonts/fontawesome-webfont.ttf') format('truetype'), url('/fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('/fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  background: #eee;
  color: #666;
}
@media screen and (max-width: 1040px) {
  body {
    margin: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 13px;
  }
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  outline-width: 0;
  color: #258fb8;
}
.basic-alignment.left,
.entry-content img.left,
.entry-content video.left {
  float: left;
  margin-right: 1.5em;
}
.basic-alignment.right,
.entry-content img.right,
.entry-content video.right {
  float: right;
  margin-left: 1.5em;
}
.basic-alignment.center,
.entry-content img.center,
.entry-content video.center {
  display: block;
  margin: 0 auto 1.5em;
}
.basic-alignment.left,
.entry-content img.left,
.entry-content video.left,
.basic-alignment.right,
.entry-content img.right,
.entry-content video.right {
  margin-bottom: .8em;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.inner {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1040px) {
  .inner {
    width: 100%;
  }
}
.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
  /* Content */
  content: attr(data-pullquote);
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;
  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}
.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}
/*.opacity(@opacity) {
  opacity: @opacity;
  @opacity-ie: @opacity * 100;
  filter: alpha(opacity=@opacity * 100); //IE8
}*/