@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Roham</h1>
    <p class="lead">Welcome to Roham Site</p>
    <p><a href="http://localhost/invalid" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>
            This is the blog
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Articles</h2>
        <p>Article zone</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lab</h2>
        <p>This is the lab zone</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
