@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot');
  src: url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff') format('woff'), url('/fonts/fontawesome-webfont.ttf') format('truetype'), url('/fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('/fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*.opacity(@opacity) {
  opacity: @opacity;
  @opacity-ie: @opacity * 100;
  filter: alpha(opacity=@opacity * 100); //IE8
}*/
#header {
  height: 30px;
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
}
@media screen and (max-width: 1040px) {
  #header {
    height: auto;
    position: relative;
    padding-bottom: 10px;
  }
}
#header a {
  color: #666;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
#header a:hover {
  color: #258fb8;
}
#header h1 {
  float: left;
  font-weight: 300;
  font-size: 30px;
}
@media screen and (max-width: 1040px) {
  #header h1 {
    float: none;
  }
}
#main-nav {
  float: left;
  margin-left: 30px;
}
@media screen and (max-width: 1040px) {
  #main-nav {
    float: none;
    margin-left: 0;
    margin-top: 15px;
  }
}
@media screen and (max-width: 600px) {
  #main-nav > ul {
    display: none;
  }
}
#main-nav > ul > li {
  margin-left: 50px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
@media screen and (max-width: 1040px) {
  #main-nav > ul > li {
    margin-left: 0;
    margin-right: 50px;
  }
  #main-nav > ul > li:last-of-type {
    margin-right: 0;
  }
}
#main-nav > ul > li:hover > a {
  color: #258fb8;
}
#main-nav > ul > li > a {
  padding: 38px 0;
  margin-top: -38px;
}
#main-nav > ul > li > a:after {
  content: "\f078";
  color: #ccc;
  font: 12px FontAwesome;
  padding-left: 10px;
}
#main-nav > ul > li > a:only-child:after {
  content: "";
}
@media screen and (max-width: 1040px) {
  #main-nav > ul > li > a {
    padding: 18px 0;
  }
}
#main-nav > ul ul {
  position: absolute;
  top: 60px;
  left: -15px;
  z-index: 10;
  white-space: nowrap;
  background: #ddd;
  border: 1px solid #ccc;
  list-style: none;
  display: none;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-border-top-right-radius: 0 0 5px 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0 0 5px 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0 0 5px 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@media screen and (max-width: 1040px) {
  #main-nav > ul ul {
    top: 40px;
  }
}
#main-nav > ul ul ul {
  -webkit-border-top-right-radius: 0 5px 5px 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0 5px 5px 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0 5px 5px 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#main-nav > ul ul li {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}
#main-nav > ul ul li:hover {
  background: #d5d5d5;
}
#main-nav > ul ul li:first-of-type {
  border-top: none;
}
#main-nav > ul ul li:first-of-type ul {
  -webkit-border-top-right-radius: 0 0 5px 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0 0 5px 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0 0 5px 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#main-nav > ul ul li:last-of-type {
  border-bottom: none;
}
#main-nav > ul ul li > a {
  display: block;
  padding: 5px 15px;
}
#main-nav > ul ul li > a:after {
  content: "\f054";
  color: #999;
  font: 12px FontAwesome;
  padding-left: 10px;
}
#main-nav > ul ul li > a:hover {
  color: #666;
}
#main-nav > ul ul li > a:only-child:after {
  content: "";
}
#main-nav > ul ul ul {
  top: 0;
  left: 100%;
}
#main-nav > ul li {
  position: relative;
}
#main-nav > ul li:hover > ul {
  display: block;
}
#main-nav select {
  display: none;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  #main-nav select {
    display: block;
  }
}
#mobile-nav {
  display: none;
  height: 37px;
  position: relative;
}
@media screen and (max-width: 600px) {
  #mobile-nav {
    display: block;
  }
}
#mobile-nav a {
  display: block;
}
#mobile-nav .button {
  cursor: pointer;
}
#mobile-nav .container {
  display: none;
}
#mobile-nav .menu {
  position: relative;
  width: 100%;
}
#mobile-nav .menu .button {
  background: #f2f2f2;
  border: 1px solid #ddd;
  color: #999;
  padding: 0 60px 0 10px;
  position: relative;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#mobile-nav .menu .button:hover {
  color: #999;
}
#mobile-nav .menu .button.on {
  color: #666;
  -webkit-border-top-right-radius: 5px 5px 5px 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px 5px 5px 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px 5px 5px 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#mobile-nav .menu .button.on:before {
  content: "\f077";
}
#mobile-nav .menu .button:before {
  content: "\f078";
  color: #ddd;
  font: 16px FontAwesome;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 40px;
}
#mobile-nav .menu .container {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-top: none;
  position: absolute;
  top: 31px;
  z-index: 1;
  -webkit-border-top-right-radius: 0 0 5px 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0 0 5px 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0 0 5px 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#mobile-nav .menu .container ul {
  list-style: none;
}
#mobile-nav .menu .container ul ul {
  margin-left: 20px;
}
#mobile-nav .menu .container a {
  padding: 0 10px;
}
#mobile-nav .search {
  position: absolute;
  top: 0;
  right: 0;
}
#mobile-nav .search .button {
  background: #ddd;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1px;
  right: -1px;
  -webkit-border-top-right-radius: 0 5px 5px 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0 5px 5px 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0 5px 5px 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#mobile-nav .search .button:before {
  content: "\f002";
  color: #f2f2f2;
  font: 20px FontAwesome;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 7px;
}
#mobile-nav .search .button.on {
  background: #ccc;
}
#mobile-nav .search .button.on:before {
  content: "\f00d";
}
#mobile-nav .search .container {
  position: absolute;
  right: 51px;
  z-index: 1;
}
#mobile-nav .search input[type="text"] {
  background: #fff;
  border: 1px solid #ddd;
  border-right: none;
  color: #999;
  font: 13px "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 30px;
  width: 100%;
  padding: 0 10px;
  -webkit-border-top-right-radius: 5px 0 0 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px 0 0 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px 0 0 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@media screen and (max-width: 1040px) {
  #sub-nav {
    position: absolute;
    top: 30px;
    right: 0;
  }
}
@media screen and (max-width: 600px) {
  #sub-nav {
    display: none;
  }
}
#sub-nav .search {
  float: left;
  margin-top: 1px;
  position: relative;
}
@media screen and (max-width: 1040px) {
  #sub-nav .search {
    float: none;
    margin-top: 15px;
  }
}
#sub-nav .search:before {
  content: "\f002";
  color: #ccc;
  font: 18px FontAwesome;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 125px;
}
#sub-nav .search input[type="text"] {
  background: #f2f2f2;
  color: #999;
  border: 1px solid #ddd;
  font: 13px "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px 15px 6px 35px;
  width: 100px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#sub-nav .search input[type="text"]:focus,
#sub-nav .search input[type="text"]:active {
  background: #fff;
  border-top: 1px solid #ccc;
  color: #666;
  outline: none;
}
#sub-nav .social {
  float: left;
  margin-right: 15px;
}
@media screen and (max-width: 1040px) {
  #sub-nav .social {
    float: none;
    margin-right: 0;
  }
  #sub-nav .social a:last-of-type {
    margin-right: 0;
  }
}
#sub-nav .social a {
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  text-indent: -9999px;
  margin: 0 15px 15px 0;
  opacity: 0.5;
  width: 28px;
  height: 28px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#sub-nav .social a:hover {
  opacity: 1;
}
#sub-nav .social a.email {
  background: url('/Content/greyshade/images/social/email.png') center no-repeat #050505;
  border: 1px solid #050505;
}
#sub-nav .social a.email:hover {
  border: 1px solid #000000;
}
#sub-nav .social a.facebook {
  background: url('/Content/greyshade/images/social/facebook.png') center no-repeat #3B5998;
  border: 1px solid #3B5998;
}
#sub-nav .social a.facebook:hover {
  border: 1px solid #2d4373;
}
#sub-nav .social a.google {
  background: url('/Content/greyshade/images/social/google.png') center no-repeat #C83D20;
  border: 1px solid #C83D20;
}
#sub-nav .social a.google:hover {
  border: 1px solid #9c3019;
}
#sub-nav .social a.twitter {
  background: url('/Content/greyshade/images/social/twitter.png') center no-repeat #55CFF8;
  border: 1px solid #55CFF8;
}
#sub-nav .social a.twitter:hover {
  border: 1px solid #24c1f6;
}
#sub-nav .social a.github {
  background: url('/Content/greyshade/images/social/github.png') center no-repeat #afb6ca;
  border: 1px solid #afb6ca;
}
#sub-nav .social a.github:hover {
  border: 1px solid #909ab6;
}
#sub-nav .social a.coderwall {
  background: url('/Content/greyshade/images/social/coderwall.png') center no-repeat #3E8DCC;
  border: 1px solid #3E8DCC;
}
#sub-nav .social a.coderwall:hover {
  border: 1px solid #2d73aa;
}
#sub-nav .social a.stackoverflow {
  background: url('/Content/greyshade/images/social/stackoverflow.png') center no-repeat #EF7522;
  border: 1px solid #EF7522;
}
#sub-nav .social a.stackoverflow:hover {
  border: 1px solid #CC7A00;
}
#sub-nav .social a.linkedin {
  background: url('/Content/greyshade/images/social/linkedin.png') center no-repeat #005A87;
  border: 1px solid #005A87;
}
#sub-nav .social a.pinterest {
  background: url('/Content/greyshade/images/social/pinterest.png') center no-repeat #be4037;
  border: 1px solid #be4037;
}
#sub-nav .social a.pinterest:hover {
  border: 1px solid #96332c;
}
#sub-nav .social a.delicious {
  background: url('/Content/greyshade/images/social/delicious.png') center no-repeat #3271cb;
  border: 1px solid #3271cb;
}
#sub-nav .social a.delicious:hover {
  border: 1px solid #285aa2;
}
#sub-nav .social a.pinboard {
  background: url('/Content/greyshade/images/social/pinboard.png') center no-repeat #0066c8;
  border: 1px solid #3a729f;
}
#sub-nav .social a.pinboard:hover {
  border: 1px solid #0052cc;
}
#sub-nav .social a.douban {
  background: url('/Content/greyshade/images/social/douban.png') center no-repeat #008024;
  border: 1px solid #008024;
}
#sub-nav .social a.douban:hover {
  border: 1px solid #004d16;
}
#sub-nav .social a.quora {
  background: url('/Content/greyshade/images/social/quora.png') center no-repeat #a82400;
  border: 1px solid #a82400;
}
#sub-nav .social a.quora:hover {
  border: 1px solid #751900;
}
#sub-nav .social a.instagram {
  background: url('/Content/greyshade/images/social/instagram.png') center no-repeat #517fa4;
  border: 1px solid #517fa4;
}
#sub-nav .social a.instagram:hover {
  border: 1px solid #406582;
}
#sub-nav .social a.behance {
  background: url('/Content/greyshade/images/social/behance.png') center no-repeat #1769ff;
  border: 1px solid #1769ff;
}
#sub-nav .social a.behance:hover {
  border: 1px solid #0050e3;
}
#sub-nav .social a.rss {
  background: url('/Content/greyshade/images/social/rss.png') center no-repeat #EF7522;
  border: 1px solid #EF7522;
}
#sub-nav .social a.rss:hover {
  border: 1px solid #cf5d0f;
}