@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot');
  src: url('/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff') format('woff'), url('/fonts/fontawesome-webfont.ttf') format('truetype'), url('/fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('/fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*.if @solarized == light {
  @_base03: @base03;
  @_base02: @base02;
  @_base01: @base01;
  @_base00: @base00;
  @_base0:  @base0;
  @_base1:  @base1;
  @_base2:  @base2;
  @_base3:  @base3;

  @base03:  @_base3;
  @base02:  @_base2;
  @base01:  @_base1;
  @base00:  @_base0;
  @base0:   @_base00;
  @base1:   @_base01;
  @base2:   @_base02;
  @base3:   @_base03;
}*/
article code,
article pre {
  font-size: 0.9em;
}
/*article {
	code, pre{
		background: @pre-bg;
		border: 1px solid @pre-border;
		font-family: @font-mono;
	}
	code{
		font-size: 0.9em;
		padding: 1px 3px;
		margin: 0 3px;
	}
	pre{
		font-size: 1 / 0.9em;
		line-height: 1.5;
		margin-top: 10px;
		padding: 5px 15px;
		overflow-x: auto;
		code{
			background: none;
			border: none;
			padding: 0;
			margin: 0;
		}
	}
}*/
figure.code {
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 5px 15px;
}
figure.code figcaption {
  font-size: 0.9em;
  position: relative;
}
figure.code figcaption span {
  margin: -5px -15px 0;
  padding: 5px 15px;
  display: block;
  background: #ececec;
}
figure.code figcaption span:empty {
  display: none;
}
figure.code figcaption a {
  position: absolute;
  top: 5px;
  right: 0;
}
figure.code code,
figure.code pre {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
figure.code .highlight {
  overflow-x: auto;
}
figure.code .line-numbers {
  border-right: 1px solid #ccc;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  padding-right: 15px;
  text-align: right;
}
figure.code table {
  background: white;
  border: none;
  text-align: left;
  margin-top: 0;
}
figure.code table td {
  text-align: left;
}
figure.code td.code {
  width: 100%;
  padding-left: 15px;
}
.entry-content .gist {
  color: #666;
  padding: 15px 15px 5px 0px;
  margin-top: 10px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}
.entry-content .gist .gist-file {
  margin: 0;
  border: none;
}
.entry-content .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.entry-content .gist .gist-file .gist-data pre {
  font: 0.9em Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  line-height: 1.5;
}
.entry-content .gist .gist-file .gist-data table {
  background: white;
  border: none;
}
.entry-content .gist .gist-file .gist-meta {
  font: 300 0.9em "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0 -16px -6px;
  padding: 5px 15px;
  background: #ececec;
}
.entry-content .gist .gist-file .gist-meta a {
  color: #258fb8;
}
.entry-content .gist .gist-file .gist-meta a:first-of-type {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 1;
}
.entry-content .gist .gist-file .gist-meta a:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  width: 100%;
  background: #ececec;
}
figure.code,
.gist-highlight {
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.String */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Interpol */
  /* Literal.String.Regex */
  /* Literal.String.Single */
}
figure.code .c,
.gist-highlight .c {
  color: #586e75 !important;
  font-style: italic !important;
}
figure.code .cm,
.gist-highlight .cm {
  color: #586e75 !important;
  font-style: italic !important;
}
figure.code .cp,
.gist-highlight .cp {
  color: #586e75 !important;
  font-style: italic !important;
}
figure.code .c1,
.gist-highlight .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}
figure.code .cs,
.gist-highlight .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
figure.code .err,
.gist-highlight .err {
  color: #dc322f !important;
  background: none !important;
}
figure.code .k,
.gist-highlight .k {
  color: #cb4b16 !important;
}
figure.code .o,
.gist-highlight .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
figure.code .p,
.gist-highlight .p {
  color: #93a1a1 !important;
}
figure.code .ow,
.gist-highlight .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}
figure.code .gd,
.gist-highlight .gd {
  color: #93a1a1 !important;
  background-color: #372d34 !important;
  display: inline-block;
}
figure.code .gd .x,
.gist-highlight .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d34 !important;
  display: inline-block;
}
figure.code .ge,
.gist-highlight .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}
figure.code .gh,
.gist-highlight .gh {
  color: #586e75 !important;
}
figure.code .gi,
.gist-highlight .gi {
  color: #93a1a1 !important;
  background-color: #1b412b !important;
  display: inline-block;
}
figure.code .gi .x,
.gist-highlight .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}
figure.code .gs,
.gist-highlight .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
figure.code .gu,
.gist-highlight .gu {
  color: #6c71c4 !important;
}
figure.code .kc,
.gist-highlight .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
figure.code .kd,
.gist-highlight .kd {
  color: #268bd2 !important;
}
figure.code .kp,
.gist-highlight .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
figure.code .kr,
.gist-highlight .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
figure.code .kt,
.gist-highlight .kt {
  color: #2aa198 !important;
}
figure.code .n,
.gist-highlight .n {
  color: #268bd2 !important;
}
figure.code .na,
.gist-highlight .na {
  color: #268bd2 !important;
}
figure.code .nb,
.gist-highlight .nb {
  color: #859900 !important;
}
figure.code .nc,
.gist-highlight .nc {
  color: #d33682 !important;
}
figure.code .no,
.gist-highlight .no {
  color: #b58900 !important;
}
figure.code .nl,
.gist-highlight .nl {
  color: #859900 !important;
}
figure.code .ne,
.gist-highlight .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
figure.code .nf,
.gist-highlight .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
figure.code .nn,
.gist-highlight .nn {
  color: #b58900 !important;
}
figure.code .nt,
.gist-highlight .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
figure.code .nx,
.gist-highlight .nx {
  color: #b58900 important;
}
figure.code .vg,
.gist-highlight .vg {
  color: #268bd2 !important;
}
figure.code .vi,
.gist-highlight .vi {
  color: #268bd2 !important;
}
figure.code .nv,
.gist-highlight .nv {
  color: #268bd2 !important;
}
figure.code .mf,
.gist-highlight .mf {
  color: #2aa198 !important;
}
figure.code .m,
.gist-highlight .m {
  color: #2aa198 !important;
}
figure.code .mh,
.gist-highlight .mh {
  color: #2aa198 !important;
}
figure.code .mi,
.gist-highlight .mi {
  color: #2aa198 !important;
}
figure.code .s,
.gist-highlight .s {
  color: #2aa198 !important;
}
figure.code .sd,
.gist-highlight .sd {
  color: #2aa198 !important;
}
figure.code .s2,
.gist-highlight .s2 {
  color: #2aa198 !important;
}
figure.code .se,
.gist-highlight .se {
  color: #dc322f !important;
}
figure.code .si,
.gist-highlight .si {
  color: #268bd2 !important;
}
figure.code .sr,
.gist-highlight .sr {
  color: #2aa198 !important;
}
figure.code .s1,
.gist-highlight .s1 {
  color: #2aa198 !important;
}