/*Round button*/
/*Hamburger*/
/*Mixins*/
.search-box > form {
  position: relative;
}
.search-box > form input {
  display: block;
  background: transparent;
}
.search-box > form input[type="search"] {
  width: 100%;
  padding: 0.7em;
  padding-right: 8.0em;
  position: relative;
  top: 0;
  height: inherit;
  color: #eee;
  font-size: 20px;
}
.search-box > form .search-btn-group {
  position: absolute;
  top: 0.1em;
  bottom: 0.3em;
  z-index: 1;
  right: 1.0em;
  padding: 0;
  cursor: pointer;
}
.search-box > form .search-btn-group #search-option {
  background: transparent;
  opacity: 0.2;
}
.search-box > form .search-btn-group #search-option:hover,
.search-box > form .search-btn-group #search-option:focus {
  opacity: 1;
}
.search-box > form .search-btn-group #search-btn {
  background: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 2px 5px;
  margin-left: 4px;
  color: #ccc;
  height: 50px;
}
.search-box > form .search-btn-group #search-btn:focus {
  outline: 0;
}
.search-box > form .search-btn-group #search-btn:hover {
  color: #fff;
}
.popover.search-popover {
  background: #2c3e50;
  border-radius: 0;
  border: none;
  max-width: 100%;
}
.popover.search-popover .arrow {
  display: none;
}
.search-box-popover {
  position: relative;
}
.search-box-popover input[type="search"] {
  position: relative;
  background: transparent;
  color: #eee;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
  width: 100%;
  top: 0;
  height: inherit;
  padding: 1em;
  padding-right: 3.0em;
  font-size: 20px;
}
.search-box-popover .search-close {
  position: absolute;
  background: transparent;
  color: #ccc;
  border: none;
  outline: 0;
  width: 2.0em;
  right: 1.0em;
  top: 0.5em;
  bottom: 0.5em;
  padding: 0;
  z-index: 1;
  cursor: pointer;
}