.tree-list-container-outer {
  margin-top: 15px;
  min-width: 200px;
  overflow: auto;
  background-color: #f9f9f9;
}
.tree-list-container {
  display: block;
  position: relative;
  border: solid 1px transparent;
  background-color: #f9f9f9;
}
.tree-list-container .tree-list-row {
  display: flex;
  padding: 0 0 0 20px;
  line-height: 31px;
  /*&.data:nth-child(even) {
          background: #dcdcdc;
      }
      &.data:nth-child(even) {
      }*/
}
.tree-list-container .tree-list-row.header {
  background-color: #404040;
  color: #eee;
  font-size: 14px;
  font-weight: bold;
}
.tree-list-container .tree-list-row.data {
  border-bottom: 1px solid #ededed;
}
.tree-list-container .tree-list-row.data.focused {
  background-color: #e1f5fe;
}
.tree-list-container .tree-list-row.data:not(.focused):hover {
  background-color: #e0e0e0;
}
.tree-list-container .tree-list-row.data[data-level="1"] .cell-inner.title {
  padding-left: 30px;
}
.tree-list-container .tree-list-row.data[data-level="2"] .cell-inner.title {
  padding-left: 60px;
}
.tree-list-container .tree-list-row.data[data-level="3"] .cell-inner.title {
  padding-left: 90px;
}
.tree-list-container .tree-list-row.data[data-level="4"] .cell-inner.title {
  padding-left: 120px;
}
.tree-list-container .tree-list-row.data[data-level="5"] .cell-inner.title {
  padding-left: 150px;
}
.tree-list-container .tree-list-row.data[data-level="6"] .cell-inner.title {
  padding-left: 180px;
}
.tree-list-container .tree-list-row .tree-list-cell {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  display: inline-block;
  border-right: 2px solid #ededed;
}
.tree-list-container .tree-list-row .tree-list-cell .cell-inner {
  padding: 5px;
}
.tree-list-container .tree-list-row .tree-list-cell .cell-inner.title {
  display: inline-block;
  flex-grow: 1;
}
.tree-list-container .tree-list-row .tree-list-cell .cell-inner.title span.tree-node-arrow {
  padding-top: 5px;
  padding-right: 5px;
  cursor: pointer;
  position: relative;
  top: 4px;
}
.tree-list-container .tree-list-row .tree-list-cell .cell-inner.title span.tree-node-title.pad-left {
  padding-left: 24px;
}
.tree-list-container .tree-list-row .tree-list-cell .cell-inner.title span.tree-node-title.pad-right {
  padding-right: 24px;
}
.tree-list-container .tree-list-row .tree-list-cell .cell-inner[data-type='bool'],
.tree-list-container .tree-list-row .tree-list-cell .cell-inner[data-type='bool'] .checkbox {
  margin: 0 auto;
  text-align: center;
}
.tree-list-container .tree-list-row .tree-list-cell:last-child {
  border-right: none;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}